<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @room.photos.each do |p|%>
   <%= image_tag p %>
  <% end %>

  <div class="field">
    <%= form.label :photos %>
    <%= form.file_field :photos, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.number_field :rate %>
  </div>

  <div class="field">
    <%= form.label :bathroom %>
    <%= form.number_field :bathroom %>
  </div>

  <div class="field">
    <%= form.label :wifi %>
    <%= form.check_box :wifi %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
